.vscode/
3_Implementation/*.exe
3_Implementation/*.out
3_Implementation/gnuplot_tmpdatafile_*
3_Implementation/*.csv
6_ImagesAndVideos/*.drawio
3_Implementation/test/*.exe
3_Implementation/test/*.out
3_Implementation/*.gcov